@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.menu {
  top: 112px;
}

.drawer-content {
  max-height: initial !important;
  min-height: -webkit-fill-available;
}

.drawer-toggle:checked + .drawer-content {
  max-height: 100vh !important;
}

.js-searchedItem:active span {
  color: white !important;
}

.card:hover figure img {
  transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  .carousel-container .carousel-slide {
    height: 220px;
  }

  .carousel-container .carousel-slide .carousel-description {
    bottom: 0;
  }

  .carousel-container .control-arrow {
    display: none;
  }
}
